<div class="score-result"  class="dialog">
  <img
    *ngIf="resultType === 'gato'"
    src="images/gato.png"
    alt="Gato Rei"
  />

  <img
    *ngIf="resultType === 'gato-medio'"
    src="images/gato-medio.png"
    alt="Gato Medio"
  />

  <img
    *ngIf="resultType === 'gato-pato'"
    src="images/gato-pato.png"
    alt="Gato Pato"
  />

  <img
    *ngIf="resultType === 'pato'"
    src="images/pato.png"
    alt="Pato"
  />

  <h1>{{ data.score }} pontos</h1>

  <p class="phrase">
    {{ resultPhrase }}
  </p>
</div>
<mat-dialog-actions>
  <button matButton mat-dialog-close>Ok</button>
</mat-dialog-actions> 